:root{
    --body-color:rgb(250,250,250);
    --color-white:rgb(255,255,255);

    -text-color-second:rgb(68,68,68);
    --text-color-third:rgb(165, 59, 73);

    --first-color:rgb(224, 87, 171);
    --first-color-hover:rgb(212, 40, 97);

    --second-color:#ff004f;
    --third-color:rgb(192,166,49);
    --first-shadow-color:rgb(0,0,0,0.18);
}


/* Base */
*{
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;   
    overflow-x: hidden;
}

/* Smooth Scroll */
html{
    scroll-padding-top: 100px; 
    scroll-behavior:smooth;
}

/* Scroll Bar */
::-webkit-scrollbar{
    width:10px;
    border-radius:25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

/* Button */
.btn{
    font-weight:500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s
}

.btn>i{
    margin-left: 10px;
}
.btn:hover{
    background:var(--second-color);
    color:var(--color-white);
}


/* header */
.MainContainer,
.container{
    padding: 10px 10%;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #131111;
    z-index: 99;
  }
  
  .nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 10.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
  }
  nav .logo a:hover {
    color: var(--primary-color-dark);
  }
  
  nav .checkbox {
    display: none;
  }
  
  nav input {
    display: none;
  }
  nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  
.menu-links{
    position:absolute;
    top:100%;
    right: 0;
    background-color: white;
    width:fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition: all .3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
nav ul li{
    /* display: inline-block; */
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;    
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

nav ul li a:hover::after{
    width: 100%;
}


/* Section */

.header-text{
    margin-top: 15%;
    margin-left: 19%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #ff004f;
}

.section_text p {
    font-weight: 600;
}

.section-text_p1{
    text-align: center;
    color: #ababab;
}

.section-text_p2{
    font-size:1.75rem;
    margin-bottom:1rem;
}

.title{
    font-size:2rem;
}



/* About */

#about{
    padding: 80px 0;
    color: #ababab;
}

#contact .title,
#projects .title,
#about .title{
    text-align: center;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis:35%;
}

.about-col-1 img{
    width: 100%;
    border: radius 15px;
    border-radius: 55% 45% 55% 45%;
}

.about-col-2{
    flex-basis: 60%;
    margin-top: auto;
}

.sub-titile{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin:20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size:  18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width:0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #b54769 ;
    font-size: 14px;
}



/* Projects */

  .card_container{    
    place-content: center;
    display: flex;
    overflow-x: auto; 
    scroll-snap-type: x mandatory;     
    padding: 14rem;
    gap: 10rem;
  }

  .card {  
    flex: 0 0 auto; /* 不允许卡片缩放 */
    position: relative;
    width: 310px; /* 计算后的宽度 */
    height: 480px; /* 计算后的高度 */
    aspect-ratio: 16/9;
    background-color: #f2f2f2;
    border-radius: 10px;
   /*  display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    perspective: 1000px;
    scroll-snap-align: start; /* 启用滚动捕捉（可选） */
  }
  
  .card_details{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
    /* 添加背景以提高可读性 */
    padding: 10px;
    border-radius: 5px;
    /* 让文字在图片正中央 */
    max-width: 90%; /* 避免文字溢出图片 */
  }

  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card__image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px  #ffffff; 
  }
  /* rgba(255, 255, 255, 0.2); */
  
  .card__content {
    transform-origin: top;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: ffffff;
    transform: rotateX(-90deg) translateZ(-1px);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);backface-visibility: hidden;

  }
  /* rgba(255, 255, 255, 0.5);
  
    transform: rotateX(-90deg) translateZ(-1px); */
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 30px;
    font-weight: 700;   
    margin-left: -53px;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 42px -55px 42px;
    font-size: 12px;
    line-height: 1.4;    
    margin-top: 220px;

  }
  
  .proj_btn{ 
    margin-top: 145%;
    margin-left: 39%;
  }
  
  .card__button {
    padding: 15px;
    border-radius: 8px;
    background: #c23c3c;
    border: none;
    color: white;
  }
  
  .secondary {
    background: transparent;
    color: white;
    background: #503cc2;
    border: none;
  }
  

  /* contact */
  .social-container{
    display: flex;
    place-content: center;
  }
  
  .social-card {
    display: flex;
    height: 70px;
    width: 350px;
  }
  
  .social-card svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
  }
  
  .social-card .social-link1,.social-card .social-link2,.social-card .social-link3,.social-card .social-link4,.social-card .social-link5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .social-card svg {
    transform: scale(1);
  }
  
  .social-card .social-link1:hover {
    background-color: #242c34;
    animation: bounce_613 0.2s linear;
  }
  
  .social-card .social-link2:hover {
    background-color: #44347e;
    animation: bounce_613 0.2s linear;
  }
  
  .social-card .social-link3:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.2s linear;
  }
  
  .social-card .social-link4:hover {
    background-color: #b91833;
    animation: bounce_613 0.2s linear;
  }
  
  .social-card .social-link5:hover {
    background-color: #ff8000;
    animation: bounce_613 0.2s linear;
  } 
  .social-card img{
    width: 30px;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.4);
    }
  
    60% {
      transform: scale(0.8);
    }
  
    80% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }



  /* check monitor size Phone or Desktop */

@media screen and (max-width:722px)
{

    /* #nav{
        display: none;
    }

    #phone-nav{
        display: flex;
    } */

    .about-containers{
        display:flow-root;
        
    }

    .about-col-1 img {
        width: 237%; /* 保持图片较大，但仍然居中 */
        height: auto; /* 保持比例 */
    }
}

@media only screen and (max-width:900px){
 
    nav .checkbox {
        display: block;
      }

    .nav__content {
        padding: 1.5rem 1.5rem;
    }

      nav ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: #080808;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        pointer-events: none; /* 阻止用户点击隐藏状态下的 ul */
      }
      
      /* rgba(255, 255, 255, 0.95) */
      
     nav #check:checked ~ ul {
        left: 0;
        opacity: 1;
        pointer-events: auto; /* 允许用户点击 ul */
    }

    nav ul li a {
        font-size: 1.25rem;
    }

   
    .section_text
    {
        margin-top: 25%;
    }

    .section_text p {
        font-weight: 400;
    }

    .header-text{
        font-size: 20px;
        margin-left: 13%;
    }
    .about-col-2 {
        flex-basis: 100%; 
        margin-left: -3%;
    }

    body .container .card {
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 25px;
      }
      .card_container{
        padding: 1rem; 
        display: -webkit-box;        
        gap: 77px;
    }

      .card-container {
        padding: 0.5rem; /* 调整内边距以适应小屏幕 */
        scroll-behavior: smooth; /* 平滑滚动 */
    }
    .card-container::-webkit-scrollbar {
        display: none; /* Chrome, Safari 和 Opera */
    }
      /*  filter: blur(4px); */

    }